<div class="side_head">
  <div class="head_name">
    <%= link_to current_user.name,edit_user_path(current_user) %>
  </div>
  <div class="chat_make">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="groups">
  <div class="group">
    <div class="group_name">
      <a href="#">room</a>
    </div>
  </div>
</div>